/* 공통 */
body {
  color: #272727;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8em;
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  font-family: "monteserrat";
  font-size: 30px;
}
/* header */
header {
  background-color: white;
}

header .inner {
  width: 1200px;
  height: 100px;
  background-color: white;
  position: relative;
  margin: auto;
}

header .logo {
  position: absolute;
  left: 20px;
  top: 20px;
}

header .gnb .gnb-list {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
}

header .gnb .gnb-list {
}

header .gnb .gnb-list a {
  display: block;
  padding: 0 20px;
  right: 20px;
  color: black;
  transition: all 0.4s;
}

header .gnb .gnb-list a:hover {
  color: rgb(53, 208, 192);
}

/* intro */
.section1 {
  background-color: #676767;
  background-image: url("https://images.unsplash.com/photo-1566040378463-fd7063f5860d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1200px;
  height: 300px;
  margin: auto;
}

.section1 .section-heading {
  color: white;
  text-align: center;
  padding: 100px;
}

.section1 .section-paragraph {
  color: white;
  text-align: center;
  padding: 100px;
}

.intro .contents h2 {
  font-size: 34px;
  padding: 20px;
  box-sizing: border-box;
}

.intro .contents p {
  font-size: 14px;
}

/* icon */
.iconbg {
  background-color: rgb(53, 208, 192);
  width: 1200px;
  height: 150px;
  margin: auto;
}

.iconbg .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 150px;
}

.iconbg .icons dl {
  font-family: sans-serif;
  font-size: 18px;
  flex-grow: 1;
  flex-basis: 0;
}

.iconbg .icons dl dd {
  font-size: 14px;
}

/* description */
.description {
  background-image: url("https://images.unsplash.com/photo-1620889276144-fafd58f2d1f3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-color: #fcfcfc;
  width: 1200px;
  height: 500px;
  margin: auto;
  position: relative;
}

.description .contents {
  width: 500px;
  float: right;
  top: 110px;
  right: 50px;
  position: absolute;
}

.description .sign {
  float: right;
  top: 350px;
  right: 400px;
  position: absolute;
}

.question {
  width: 1200px;
  height: 350px;
  background-color: rgb(249, 249, 249);
  margin: auto;
}

.question .contents {
  text-align: center;
  padding: 80px;
}

.question .button {
  width: 50px;
  height: 25px;
}

.footer .group {
  background-color: #272727;
  width: 1200px;
  margin: auto;
  color: #ffffff;
}

.footer a {
  color: #ffffff;
}
